 {% block content %}



<form class="form" action="" method="POST">
    {% csrf_token %}
    
    <div class="form__group">
        <label for="username">Username</label>
        <input
            id="username"
            name="username"
            type="text"
            placeholder="Enter your username"
        />
    </div>
    <div class="form__group">
        <label for="password">Password</label>
        <input
            id="password"
            name="password"
            type="password"
            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
        />
    </div>

    <button class="btn btn--main" type="submit">
        Login
    </button>
</form>

{% endblock %}
