{% extends 'index.html' %}
{% block content %}

<div class="dashboard-container">
    
    <div class="dashboard-heading">
        <h3>HELLO, {{username}}</h3>
        <p>Here is a list of thins you can do</p>
    </div>
    
    <div class="dashboard-list">
        <a class="btn btn--main" href="{% url 'banks-list' %}">Check list of all Banks and their details</a>
        <a class="btn btn--main" href="{% url 'accounts-list' %}">Check list of your Accounts and their details</a>
    </div>

</div>
{% endblock %}
