{% extends 'index.html' %}
{% block content %}

<div class="list-container">
    {% load tz %}
    {% if all_user_transaction%}
    <div class="list">
        <a class="btn btn--main" href="{{request.META.HTTP_REFERER}}">Back</a>
    </div>
    
    
    <table class="list-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Amount</th>
            <th>Transaction Type</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in all_user_transaction%}
        <tr>
            <td>{{transaction.account.account_number}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.transaction_type}}</td>
            <td>{{transaction.created_at|date:"Y-m-d h:i:s A T" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {%else%}
    <div class="list-message">
        <a class="btn btn--main" href="{% url 'accounts-list' %}">Back</a>
        <p>No Transactions history till now</p>
    </div>
    {% endif %}

</div>

{% endblock %}
