{% extends 'index.html' %}
{% block content %}

<div class="dashboard-container">
    
    <div class="dashboard-heading">
        <h3>HELLO, {{username}}</h3>
    </div>
    
    <div class="dashboard-list">
        <div class="d-list-container">
            <h2>Bank</h2>
            <a  href="{% url 'banks-list' %}">Click to View all Banks</a>
            <a  href="{% url 'create-bank' %}">Click to Create a Bank</a>
        </div>
        <div class="d-list-container">
            <h2>Account</h2>
            <a  href="{% url 'accounts-list' %}">Click to View your Accounts</a>
        </div>
    </div>

</div>
{% endblock %}
